body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    56deg,
    rgba(245, 224, 101, 0.387) 0%,
    rgba(245, 155, 219, 0.586) 47%,
    rgba(245, 165, 207, 0.353) 100%
  );
}

.background-radial-gradient {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: rgba(245, 224, 101, 0.8);
  border: none;
  color: #333;
}

.btn-primary:hover {
  background-color: rgba(245, 155, 219, 0.9);
  border: none;
}

.form-outline input {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}

.form-label {
  font-weight: bold;
}

.text-center a {
  color: #f5a5cf;
  text-decoration: none;
}

.text-center a:hover {
  color: #f59bdb;
}

h1 {
  color: rgba(33, 37, 41, 0.8);
}

p.mb-2 {
  color: rgba(33, 37, 41, 0.7);
}

@media (max-width: 768px) {
  .container {
    padding: 0 1.5rem;
  }
}
